body {
    height: 100%;
    width: 100%;
    font-family: 'Poiret One', Tahoma;
    color: #CE1483;
}

.container {
    width: 80vw;
}

hgroup {
    margin-bottom: 0px;
}

main {
    background-color: #CE1483;
    height: 95vh;
}

h1 {
    margin-bottom: 0em;
    font-family: 'Anton', sans-serif;
}

h3 {
    color: black !important;
    font-size: 3em !important;
}

b {
    font-family: 'Poiret One', cursive;
}

a {
    margin-top: 2.8em;
}

#responsive-menu {
    display: none;
    margin-left: 0px;
}

li {
    display: inline;
    padding-right: 1.7em;
}

input {
    color: black !important;
    font-size: 2.5em !important;
}

#err {
    font-size: 2em;
    color: black !important;
    display: none;
}

#map-canvas {
    height: 90vh;
    width: 45vw;
    margin: auto;
    padding: 2em;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    font-size: 1em;
    padding: 2em;
}

.map {
    /*background-color: yellow;*/
}

.artist-img {
    padding-left: 3em;
    padding-top: 3em;
    height: 80vh;
    width: 40vw;
}

img.materialboxed.initialized {
    border: none;
}
